<a href="https://colab.research.google.com/github/apfiadiansetianingrum/praktikum-algoritma/blob/master/Apfia_2410506004_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print('hello from a function')
my_function()

hello from a function

In [ ]:
def my_function(fname):
  print(fname + ' sitohang')

my_function('toha')
my_function('tohir')
my_function('tobi')

toha sitohang
tohir sitohang
tobi sitohang

In [ ]:
def my_function(fname, lname):
  print(fname + ' ' + lname)

my_function('toha', 'sitohang')

toha sitohang

In [ ]:
def my_function(*kids):
  print('the youngest child is ' + kids[2])

my_function('lekyung', 'jimis', 'tukimin')

the youngest child is tukimin

In [ ]:
def my_function(child3, child2, child1):
  print('the youngest child is ' + child3)

my_function(child1 = 'lekyung', child2 = 'tukimin', child3 = 'jimin')

the youngest child is jimin

In [ ]:
def my_function(**kid):
  print('his last name is ' + kid['lname'])

my_function(fname = 'thanos', lname = 'ireng man')

his last name is ireng man

In [ ]:
def my_function(country = 'indonesia'):
  print('i am from ' + country)

my_function('uea')
my_function('arab saudi')
my_function()
my_function('malaysia')

i am from uea
i am from arab saudi
i am from indonesia
i am from malaysia

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ['apple', 'banana', 'chery']

my_function(fruits)

apple
banana
chery

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def myfunction():
  pass

In [ ]:
def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result=0
  return result

print('\n\nrecursion example result')
tri_recursion(6)

recursion example result
1
3
6
10
15
21

21

In [ ]:
#Recursion Example
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [ ]:
#exercise 1
def faktorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * faktorial(n-1)

angka = int(input('masukkan angka: '))
print(f'faktorial dari {angka} adalah {faktorial(angka)}')

masukkan angka: 5
faktorial dari 5 adalah 120

In [ ]:
#exercise 2
def luas_lingkaran(r):
  return 3.14 * r * r

def luas_persegi(s):
  return s * s

def luas_segitiga(a, t):
  return 0.5 * a * t

while True:
  print('\npilih bangun datar: ')
  print('1. lingkaran')
  print('2. persegi')
  print('3. segitiga')
  print('4. keluar')

  pilihan = input('masukkan pilihan (1/2/3/4)')

  if pilihan == '1':
    r = float(input('masukkan jari jari: '))
    print(f'luas lingkaran adalah: {luas_lingkaran(r)}')
  elif pilihan == '2':
    s = float(input('masukkan sisi: '))
    print(f'luas_persegi adalah: {luas_persegi(s)}')
  elif pilihan == '3':
    a = float(input('masukkan alas: '))
    t = float(input('masukkan tinggi: '))
    print(f'luas segitiga adalah: {luas_segitiga(a, t)}')
  elif pilihan == '4':
    print('program berhenti..')
    break
  else:
    print('kode program tidak valid')

pilih bangun datar:
1. lingkaran
2. persegi
3. segitiga
4. keluar
masukkan pilihan (1/2/3/4)1
masukkan jari jari: 7
luas lingkaran adalah: 153.86

pilih bangun datar:
1. lingkaran
2. persegi
3. segitiga
4. keluar
masukkan pilihan (1/2/3/4)2
masukkan sisi: 4
luas_persegi adalah: 16.0

pilih bangun datar:
1. lingkaran
2. persegi
3. segitiga
4. keluar
masukkan pilihan (1/2/3/4)3
masukkan alas: 4
masukkan tinggi: 6
luas segitiga adalah: 12.0

pilih bangun datar:
1. lingkaran
2. persegi
3. segitiga
4. keluar
masukkan pilihan (1/2/3/4)5
kode program tidak valid

pilih bangun datar:
1. lingkaran
2. persegi
3. segitiga
4. keluar
masukkan pilihan (1/2/3/4)4
program berhenti..