<a href="https://colab.research.google.com/github/apfiadiansetianingrum/praktikum-algoritma/blob/master/Apfia_2410506004_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class myclass:
  x=5

In [ ]:
p1= myclass()
print(p1.x)

5

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name=name
    self.age=age

p1 = Person("john", 36)
print(p1.name)
print(p1.age)

john
36

In [ ]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  p1= person("john", 36)

  print(p1)

<__main__.person object at 0x7e2a69b237f0>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
print('heloo')

heloo

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

hello my name is John

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

hello my name is John

In [ ]:
p1.age = 40

In [ ]:
del p1.age

In [ ]:
del p1

In [ ]:
class person:
  pass

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
class student(Person):
  pass

In [ ]:
x = student("mike", "olsen")
x.printname()

mike olsen

In [ ]:
class student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [ ]:
class student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2023

In [ ]:
class student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = student("Mike", "Olsen", 2023)

In [ ]:
class student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
class mynumbers:
  def __iter__(self):
    self.a=1
    return self

  def __next__(self):
    x=self.a
    self.a +=1
    return x

myclass = mynumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
class mynumbers:
  def __iter__(self):
    self.a=1
    return self

  def __next__(self):
    if self.a <=20:
      x=self.a
      self.a +=1
      return x
    else:
      raise StopIteration

myclass = mynumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
x = "hello world"

print(len(x))

11

In [ ]:
mytuple = ("apple", "banana", "ceri")

print(len(mytuple))

3

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(len(thisdict))

3

In [1]:
class alattulis:
    def __init__(self):
        self.nama= ""
        self.stok= 0
        self.hargasatuan= 0
        self.harga= 0

    def set_data(self, nama, stok, hargasatuan):
        self.nama= nama
        self.stok= stok
        self.hargasatuan=hargasatuan
        self.harga=stok*hargasatuan

    def get_data(self):
        return {
            "Nama": self.nama,
            "Stok": self.stok,
            "Harga Satuan": self.hargasatuan,
            "Harga Total": self.harga,
        }

    def total_harga(self):
        return self.harga

bolpoint = alattulis()
bolpoint.set_data("bolpoint", 10, 2000)

pensil = alattulis()
pensil.set_data("pensil", 10, 1000)

penghapus = alattulis()
penghapus.set_data("penghapus", 10, 500)

for item in [bolpoint, pensil, penghapus]:
    data = item.get_data()
    print(f"Nama: {data['Nama']}, Stok: {data['Stok']}, Harga Satuan: Rp{data['Harga Satuan']}, Harga Total: Rp{data['Harga Total']}")

total = bolpoint.total_harga() + pensil.total_harga() + penghapus.total_harga()
print(f"\nTotal Harga Semua Barang: Rp{total}")

Nama: bolpoint, Stok: 10, Harga Satuan: Rp2000, Harga Total: Rp20000
Nama: pensil, Stok: 10, Harga Satuan: Rp1000, Harga Total: Rp10000
Nama: penghapus, Stok: 10, Harga Satuan: Rp500, Harga Total: Rp5000

Total Harga Semua Barang: Rp35000